<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @programme2013.title %>
</p>

<p>
  <strong>Date:</strong>
  <%= @programme2013.date %>
</p>

<p>
  <strong>Description:</strong>
  <%= @programme2013.description %>
</p>

<%= link_to 'Edit', edit_programme2013_path(@programme2013) %> |
<%= link_to 'Back', programme2013s_path %>
