<%= form_for @newsletters, :html => {:multipart => true} do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.file_field :file %>
  </p>
  
  <p><%= f.submit %></p>
<% end %>