<nav>
<ul>
<li><%= link_to "Home Page", root_path %></li>
<li><%= link_to "About the Club", about_the_club_path %></li>
<li><%= link_to "How to Join", how_to_join_path %></li>
<li><%= link_to "What you Need", what_you_need_path %></li>
<li><%= link_to "Programme 2013", programme_2013_path %></li>  
<li><%= link_to "Newsletters", newsletters_path %></li>
<li><%= link_to "Club Matters", club_matters_path %></li>
<li><%= link_to "How to get there", how_to_get_there_path %></li>
<li><%= link_to "Book a Lawn", book_a_lawn_path %></li>
<li><%= link_to "Links to Croquet Sites", links_to_croquet_sites_path %></li>  
</ul>
</nav>